{% extends 'base.html' %}
{% load static %}
{% block heading %}
Add new Task to it <a href="{% url 'Tasks:task_update' %}" ><img src="{% static 'image/plus.png' %}"></a>
{% endblock %}

{% block content %}
{%for t in Tasks %}
                <div class="items">
                    <div class="subitem">
                        {% if t.done %}
                       <p class="listitem"><strike  >{{t.title}}</strike></p>
                        {% else %}
                        <p class="listitem">{{t.title}} </p>
                        {% endif %}
                        <p class="extra" > ({{t.categories}})</p>
                        <a href="{% url 'Tasks:task_update:{{t.pk}}' %}"  class="update"><img src="{% static 'image/pen.png' %}" ></a>
                        <a href="{% url 'Tasks:task_delete:{{t.pk}}' %}" ><img src="{% static 'image/trash.png' %}"></a>
                    </div>
                </div>
{% endfor %}
{% endblock %}